{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}Blog posts{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">

        <form method="post" novalidate>
        {% csrf_token %}

        {{ form.media }}

        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            
            {% if form.is_bound %}
               {% if field.errors %}
                  {% render_field field class="form-control is-invalid" %}
                  {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                  {% endfor %}
                {% else %}
            {% render_field field class="form-control is-valid" %}
                {% endif %}
            {% else %}
            {% render_field field class="form-control" %}
            {% endif %}
            {% if field.help_text %}
               <small class="form-text text-muted">{{ field.help_text}}</small>
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" value="Save" class="btn btn-success" />
        </form>
    <div class="col-sm-2">

    </div>

    </div>
</div>
{% endblock %}