{% extends "base.html" %} {% load compress staticfiles %} {% block title %}Schedule task - healthchecks.io{% endblock %}
{% block content %}

<div class="container">
    <h3>
    <p> Now you can create your scheduled Task and receive email alerts incase your jobs fail </p>
    </h3> <br>
    <div class="container-box rotated">
        <button type="button" class="btn btn-info btn-lg turned-button" data-toggle="modal" data-target="#myModal">New Task</button>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        Create a new scheduled task
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form" method="post" id="reused_form">
                        <div class="form-group">
                            <label for="name"> Task Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="minute"> Minute:</label>
                            <input type="number" class="form-control" id="minute" name="minute" value="0" required maxlength="2">
                        </div>
                        <div class="form-group">
                            <label for="hour"> Hour:</label>
                            <input type="number" class="form-control" id="hour" name="hour" value="12" required maxlength="2">
                        </div>
                        <div class="form-group">
                            <label for="day"> Day:</label>
                            <input type="text" class="form-control" id="day" name="day" value="Friday" required maxlength="15">
                        </div>
                        <div class="form-group">
                            <label for="month"> Month:</label>
                            <input type="text" class="form-control" id="day" name="day" value="May" required maxlength="15">
                        </div>
                        <div class="form-group">
                            <label for="email"> Task Type:</label>
                            <label class="container">Basic
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Advanced
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="time"> Time Interval:</label>
                            <select>
                                <option value="volvo">Every hour</option>
                                <option value="saab">Every week</option>

                            </select>

                        </div>

                        <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs">Create &rarr;</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="scheduled_task.js"></script>
{% endcompress %}
{% endblock %}